ul #dropdown1 {
    width: unset !important;
}
#devToolsBadge {
    padding-right: 100px;
    float: right;
}
span .badgeLabel {
    background-color: #81c784;
    color: white;
}
#devtools-panel body #header {
    width: 100%;
    margin: auto;
    font-size: large;
}
#devtools-panel body #header #logo {
    width: 150px;
    margin: 20px auto;
}
#devtools-panel body #content {
    width: 100%;
    margin: auto;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    width:700px;
    margin:0;
}
.toast {
    background: linear-gradient(135deg, #81c784, #ffffff69);
    color: black;
    font-size: large;
    word-break: break-word;
    border-radius: 10px;
    display: inherit;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color:#e8f5e9;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color:#4caf50;
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-width: 1px;
    border-right-color:#4caf50;
    border-bottom-color:#4caf50;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border-width: 1px;
}
#options-page div.row {
    margin-bottom: 15px;
}
#options-page body {
    width: 100%;
    min-width: 600px;
    min-height: 1024px !important;
    overflow: hidden;
}

#options-page #extension-options-overlay {
    max-height: 800px !important;
    min-height: 700px !important;
    height: 700px !important;
}
#options-page #extension-options-overlay-guest {
    max-height: 800px !important;
    min-height: 700px !important;
    height: 700px !important;
}

#options-page body li.collection-item {
    font-size: 16px;
    padding: 15px 17px 15px 17px;
    margin: 0px 0px 0px 0px;
}

#options-page body li.collection-item.subitem {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 50px;
    background-color: #fafafa;
}

#options-page body li.collection-item.bottom {
    padding-bottom: 20px;
}

#options-page #checkInterval {
    margin: 10px 0px 0px 0px;
}
#options-page .badge {
   background-color: #81c784;
   font-size: 16px; 
}
#options-page #checkInterval-value {
    background-color: #81c784;
    font-size: 16px;
}

#options-page #options-header {
    padding: 15px 0px 15px 0px;
    background-color: #4caf50;
}
#options-page #collections-header {
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 20px 2f0px;
    overflow: none;
}
#options-page #collections-header-debugging {
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 20px 20px;
    overflow: none;
}
#options-page #collections-header-rtc {
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 20px 20px;
    overflow: none;
}
#options-page #collections-header-nims {
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 20px 20px;
    overflow: none;
}
#options-page #collections-header-customDevToolsURL {
    font-size: 20px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 20px 20px;
    overflow: none;
}
#options-page-ads-iframe {
    width: 100%;
    height: 97%;
}
#debugVerbosityBadge {
    background-color: #81c784;
}
label {
    font-size: 20px;
    font-weight: normal !important;
}
div > div > div.noUi-handle.noUi-handle-lower, div > div > div.noUi-handle.noUi-handle-lower:active {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #4caf50;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -8.5px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
    border: none;
}
div > div > div.noUi-handle:after, .noUi-handle:before {
    display: none;
}
div.noUi-base {
    background-color: #818181;
    border-radius: 15px;
    border: none;
    height: 5px;
    margin-top: 15px;
}
.noUi-target {
    all: unset;
}
#options-page .noUi-target .range-label {
    background-color: #4caf50;
    position: absolute;
    height: 30px;
    width: 30px;
    top: -17px;
    left: -2px;
    border-radius: 50%;
    transition: border-radius 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms, transform cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(.5) rotate(-45deg);
    transform-origin: 50% 100%
}
#options-page #devtools_url {
    font-family: inherit;
}
.message {
    font-size: 14px;
}

.header {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 350px;
}

.input-text {
    font-size: 20px !important;
    font-family: inherit;
}

.auto-switch {
    clear: both;
}

.footer-text {
    font-size: 18px;
    color: #33691e;
}

.container-page {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.row-footer {
    margin-bottom: 0px;
}
.row-footer div.col {
    padding-left: 0px;
    padding-right: 0px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all 0.2s cubic-bezier(.36, -0.64, .34, 1.76);
}

.animate-show {
    opacity: 1;
    background: white;
}

.animate-show.ng-hide {
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0;
}

.animate-swing-show.ng-hide {
    line-height: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.animate-swing-show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.swing {
    background-color: #f1f8e9;
    perspective: 400px;
}
body#nim {
    width: 100% !important;
}
.additional-options {
    text-decoration: none;
    color: black;
}
.material-icons#additionalOptions {
    line-height: inherit;
}
.alert {
    width: 70%;
    top: 1px !important;
    right: 5px !important;
    border-radius: 15px;
}
.alert > [data-notify="icon"] {

}
.alert > [data-notify="title"] {

}
.alert > [data-notify="message"] {

}
.fixed-action-btn.direction-left ul li {
    margin: 0 0 0 0;
}
#options-page .modal {
    margin: 0 auto !important;
    opacity: 0.9 !important;
    width: 50%;
    top: 10 !important;
    max-height: 90%;
    overflow: hidden;
    margin: inherit;
}
#popup-page .modal {
    opacity: 0.9 !important;
    width: 100%;
    top: 0 !important;
    min-height: 90%;
    overflow: hidden;
    margin: inherit;
}
.modal-content {
    height: 100%;
    padding: 0 !important;
}
#___plusone_0 {
    vertical-align: middle !important;
}
i.small {
    vertical-align: middle;
}
.notification-message {
    font-size: small;
}
.notification-message.active-cell {
    font-size: x-large;
}
.notification-title {
    font-size: large;
}
thead tr th {
    font-size: large;
}

#donate-icon {
    width: 30px;
    transform: scaleX(-1);
}
#site-href {
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
}
#notify-icon {
    padding-right: 10px;
}
#notify-title {
    font-size: 18px;
}
#notify-read-button {
    line-height: 30px;
    height: 30px;
    float: right;
    padding-left: 5px !important;
    padding-left: 5px !important;
}
#modal1 > div > table > thead > tr > th > a {
    font-weight: lighter;
}
#donate-button {
    height: auto;
    line-height: inherit;
    box-shadow: none;
}
.donate-button {
    margin: 20px;
}
#modal2 > div > div.page-header {
    padding: 10px 0 0 0;
    text-align: center;
    margin: 0;
}
#modal1 > div.modal-content > table > tbody > tr:nth-child(n) > td:nth-child(3) > span {
    font-size: 16px;
}
#modal1 > div.modal-content > table > thead > tr > th:nth-child(n) > a {
    text-decoration: none;
    color: black;
}
td.active-cell {
    border-top: 0 !important;
    background-color: white;
}
#modal1 > .modal-header {
    background: white;
}
#modal1 > div.modal-content > table > tbody > tr:nth-child(4n-1) {
    background-color: #f1f8e9;
}
#modal1 > div.modal-content > table > tbody > tr {
    background-color: #fafafa;
}
#modal1 > div.modal-content > table > thead {
    background-color: #c5e1a5;
}
img.notification-twitter-icon {
    width: 20px;
    margin-right: 10px;
}
.modal-content {
    border-radius: 0;
}
#uptodate {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#no-notifications {
    font-size: x-large;
    text-transform: uppercase;
}
.icon-inbox-1:before { font-size: 300%; }

#modal2 > div.modal-content > div.page-header > h3 > small {
    text-transform: uppercase;
}
#donation-container {
    padding-top: 5px;
}
.modal-header button {
    background-color: inherit;
    border: none;
}
.modal-header {
    border-bottom: 0;
}
#modal2 > div.modal-content > div.page-header > h3 {
    font-size: 26px !important;
}
body > div.container.container-page > div:nth-child(2) > div > form > div:nth-child(1) {
    padding: 0 25px 0 25px;
}
#bitcoin-donate-button img {
    width: 100px;
}
#metamask-donate-button img {
    width: 100px;
}
#g-plusone {
    margin: auto;
}
#popup-page .nav-pills a {
    font-variant: all-small-caps;
    color: green;
}
#popup-page div#local-control-input {
    margin: 0 10px 0 10px;
}
.tabs .tab a {
    color: #66bb6a;
}
.tabs .tab  a:hover {
    color: #66bb6a;
}
.tabs .tab a.active {
    color: #66bb6a;
    font-size: large;
    text-decoration: none;
}
.tabs .tab a.visited {
    color: #66bb6a;
}
.tabs .tab a:focus, .tabs .tab a {
    background-color: white;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.5s ease-out;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #e8f5e9;
    border-radius: 10px 10px 0 0;
    transition: background-color 1s ease-out;
}
.tabs .indicator {
    background-color: #43a047;
}
#popup-page #footer-buttons {
    display: flex;
}
#popup-page #footer-buttons .footer-button {
    padding: 0px 5px 0px 5px;
    margin: auto;
}
#popup-page #twitter-button iframe {
    vertical-align: middle;
}
#popup-page .footer-copyright {
    padding-right: 20px;
}
#donation-container > div > div.col-xs-3 {
    min-width: 70px;
}
#nim-version {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: small;
}
#scaled-frame { width: 950px; height: 490px; border: 0px; }
#scaled-frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #scaled-frame  { zoom: 1;  }
}
#modal4 > div.modal-header > h5 {
    margin: 0 auto;
}
#realtime-collaboration-disabled {
    margin: 100px;
}
#open-riot-window {
    border: none;
}
#open-riot-window.opened i {
    color: #c8e6c9;
}
.rtc-credentials-table-cell i {
    background: #e8f5e9;
}
#coming-soon font {
    display: table;
    font-size: 40px;
    margin: 0 auto;
    padding: 50px;
    font-variant-caps: all-petite-caps;
}
#nim-custom-devtools-url-blogpost {
    text-transform: uppercase;
    font-style: italic;
    font-size: small;
    vertical-align: super;
}
#nim-options-nims-url-blogpost {
    text-transform: uppercase;
    font-style: italic;
    font-size: small;
    vertical-align: super;
}
#save-button-custom-devtools {
    margin: 0 auto;
    display: table;
}
#remote-control-interface .appinfo span span.badge, #local-control-interface .appinfo span span {
    font-weight: bold;
    font-style: italic;
    position: absolute;
    right: 300px;
}
#local-control-interface .appinfo span span {
    right: 350px;
}
#remote-control-interface div.col.appinfo, #local-control-interface div.col.appinfo {
    min-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    font-size: large;
    text-overflow: ellipsis;
}
#remote-control-interface, #local-control-interface {
    font-size: 16px;
    margin: 20px 0 0 0;
}
#remote-control-interface .row, #local-control-interface .row {
    margin: 0px;
}
#remote-control-interface div.row.header, #local-control-interface div.row.header {
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#remote-control-interface div.col.open, #local-control-interface div.col.open {
    max-width: 80px;
}
#remote-control-interface .btn, #local-control-interface .btn {
    font-size: small;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    width: 70px;
    letter-spacing: 0;
    padding: inherit;

}
#mainControlTabs {
    padding: 0 0 35px 0;
}
div.material-tooltip {
    background-color: white;
    border: 1px solid #4caf50;
    border-radius: 10px;
    text-align: left;
    color: black;
    pointer-events: none;
    font-size: large;
}
div.material-tooltip > div.tooltip-content > div.row {
    margin-bottom: 5px;
}
div.material-tooltip > div.tooltip-content > div.row > div.col.s2 {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    min-width: 80px;
}
img.bulletPointIcon {
    margin-right: 5px;
}
.no-connections-detected {
    margin: 0 auto !important;
    padding: 10px;
    display: table;
}
.ml11 {
    font-size: x-large;
    font-variant-caps: all-petite-caps;
    color: darkgray;
  font-weight: 500;
  transform: scale(1,1.5);
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.carat {
    font-weight: bold;
    color: darkgreen;
}
blink, .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}
#githubNodejsNodeIssues24085 .icon-alert {
    position: absolute;
    left: -16px;
    color: red;
    z-index: 1;
}
.icon-alert {
    font-size: xxx-large;
    color: red;
    z-index: 1;
}
.icon-alert:focus {
    outline: 0;
}
.profile-chip:focus {
    background-color: #4CAF50;
}
#local-control-interface .btn.remove {
    width: 50px;
    padding: 0px;
    text-transform: unset;
}
#remote-control-interface .btn.remove {
    width: 50px;
    padding: 0px;
    text-transform: unset;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
span#devToolsCompat {
    float: right;
    margin-right: 50px;
}
.nimname {
    font-size: xx-large;
    color: darkgreen;
}
#devtools-panel .collection.report, .collection.host {
    margin: 0;
    font-size: small;
    font-weight: bold;
    border: 0;
}
#devtools-panel .collapsible-header {
    font-size: large;
}
#devtools-panel .collapsible-header, .collapsible-body {
    padding: 0;
}
#devtools-panel .collapsible.popout>li {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#devtools-panel #noreports, #dashboard {
    display: table;
    margin: 50px auto;
    font-variant: all-small-caps;
}
#devtools-panel span.node_report_key {
    font-weight: bold;
}
#devtools-panel span.node_report_value {
    font-style: italic;
}
#devtools-panel #menu > div:nth-child(1) > ul > li.tab.col.s6 > a {
    text-overflow: clip;
}
#devtools-panel #brakecode-login {
    margin-left: 50px;
}
#devtools-panel #brakecode-login img#nim-logo {
    position: absolute;
    top: 4px;
    left: 40px;
}
#devtools-panel .row.menu {
    display: flex;
    margin-bottom: 0;
}
#devtools-panel .dropdown-content li>a, .dropdown-content li>span {
    color: #4caf50;
    font-size: 20px;
}
#devtools-panel .spinner {
    position: absolute;
    top: 40%;
    left: 50%;
}
ul.fancytree-container {
    border: 0;
}
.fancytree-treefocus {
    outline: none;
}
#autoManualSwitch {
    margin: 0 10px 0 50px;
}
#openDevToolsButton {
    margin: 0 20px 0 15px;
    font-family: inherit;
}
#autoResumeSwitchDiv {
    margin: 0 5px 0 0;
}
#autoResumeSwitch {
    position: inherit;
}
.questionTooltipButton {
    vertical-align: super;
    font-weight: bold;
    font-size: small;
}
.exclamationTooltipButton {
    vertical-align: super;
    font-weight: bold;
    font-size: small;
    color: red;
}
.btn {
    background-color: #4CAF50;
    font-family: inherit;
}
#auth-dropdown {
    opacity: 0.5;
    border-radius: 25px;
}
#devtools-panel p {
    margin: 5px;
}
.close-x {
    padding-left: 10px;
    cursor: pointer;
}
input:not([type]):not(.browser-default):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #4CAF50;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #4CAF50;
}
.statusCode {
    font-style: italic;
    font-size: small;
    font-weight: bold;
}