body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    width:500px;
    margin:0;
}
div > div > div.noUi-handle.noUi-handle-lower {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #4caf50;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -8.5px;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  border: none;
}
div > div > div.noUi-handle:after, .noUi-handle:before {
    display: none;
}
div.noUi-base {
    background-color: #818181;
    border-radius: 15px;
    border: none;
    height: 5px;
    margin-top: 15px;
}
.noUi-target {
    all: unset;
}
.toast {
    background: linear-gradient(to left, #81c784, transparent);
    color: red;
    text-transform: uppercase;
    font-size: large;
    word-break: break-word;
}
.switch label input[type=checkbox]:checked+.lever {
background-color:#e8f5e9;
}

.switch label input[type=checkbox]:checked+.lever:after {
background-color:#4caf50;
}

div.container.footer-text {
    width: 80%;
}
#options-page div.row {
    margin-bottom: 15px;
}

#options-page body {
    width: 100%;
    height: 700px !important;
    max-height: 800px !important;
    min-height: 700px !important;
    overflow: hidden;
}

#options-page #extension-options-overlay {
    max-height: 800px !important;
    min-height: 700px !important;
    height: 700px !important;
}
#options-page #extension-options-overlay-guest {
    max-height: 800px !important;
    min-height: 700px !important;
    height: 700px !important;
}

#options-page body li.collection-item {
    font-size: 16px;
    padding: 10px 17px 15px 17px;
    margin: 0px 0px 0px 0px;
}

#options-page body li.collection-item.subitem {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 50px;
    background-color: #fafafa;
}

#options-page body li.collection-item.bottom {
    padding-bottom: 20px;
}

#options-page #checkInterval {
    margin: 10px 0px 0px 0px;
}

#options-page #checkInterval-value {
    background-color: #81c784;
    font-size: 16px;
}

#options-page #options-header {
    padding: 15px 0px 15px 0px;
    background-color: #4caf50;
}

#options-page #collections-header {
    font-size: 14px;
    font-weight: bold;
    background-color: #e0e0e0;
}
#options-page #collections-header-debugging {
    font-size: 14px;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 10px;
}
#debugVerbosityBadge {
    background-color: #81c784;
}
label {
    font-size: 16px;
    font-weight: normal !important;
}

#options-page .noUi-target .range-label {
    background-color: #4caf50;
    position: absolute;
    height: 30px;
    width: 30px;
    top: -17px;
    left: -2px;
    border-radius: 50%;
    transition: border-radius 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms, transform cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(.5) rotate(-45deg);
    transform-origin: 50% 100%
}

.message {
    font-size: 14px;
}

.header {
    margin-left: 15px;
    margin-right: 15px;
}

.input-text {
    font-size: 20px !important;
}

.auto-switch {
    clear: both;
}

.footer-text {
    font-size: 18px;
    color: #33691e;
}

.container-page {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.logo-padding {
    margin-left: 15px;
}

.row-footer {
    margin-bottom: 0px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all 0.2s cubic-bezier(.36, -0.64, .34, 1.76);
}

.animate-show {
    opacity: 1;
    background: white;
}

.animate-show.ng-hide {
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0;
}

.animate-swing-show.ng-hide {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.2s cubic-bezier(.36, -0.64, .34, 1.76);
}

.animate-swing-show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.swing {
    background-color: #f1f8e9;
    perspective: 400px;
}
body#nim {
    width: 100% !important;
}
.additional-options {
    text-decoration: none;
    color: black;
}
.material-icons#additionalOptions {
    line-height: inherit;
}
.modal {
    width: 90%;
}

.alert {
    width: 70%;
    top: 1px !important;
    right: 5px !important;
    border-radius: 15px;
}
.alert > [data-notify="icon"] {

}
.alert > [data-notify="title"] {

}
.alert > [data-notify="message"] {

}
.fixed-action-btn.horizontal ul li {
    margin: 0 0 0 0 !important;
}
.modal {
    opacity: 0.9 !important;
    width: 100%;
    top: 0 !important;
    max-height: 90%;
    overflow: hidden;
    margin: inherit;
}
.modal-content {
    height: 100%;
    padding: 0 !important;
}
#___plusone_0 {
    vertical-align: middle !important;
}
i.small {
    vertical-align: middle;
}
.notification-message {
    font-size: small;
}
.notification-title {
    font-size: large;
}
thead tr th {
    font-size: large;
}

#donate-icon {
    width: 30px;
    transform: scaleX(-1);
}
#site-href {
    color: inherit;
    text-decoration: none;
}
#notify-icon {
    padding-right: 10px;
}
#notify-title {
    font-size: 18px;
}
#notify-read-button {
    line-height: 30px;
    height: 30px;
    float: right;
    padding-left: 5px !important;
    padding-left: 5px !important;
}
#modal1 > div > table > thead > tr > th > a {
    font-weight: lighter;
}
#donate-button {
    height: 26px;
    padding: 0 10px 0 10px;
    line-height: 28px;
    margin-left: 5px;
}
#modal2 > div > div.page-header {
    padding: 10px 0 0 0;
    text-align: center;
    margin: 0;
}
#modal1 > div.modal-content > table > tbody > tr:nth-child(n) > td:nth-child(3) > span {
    font-size: 16px;
}
#modal1 > div.modal-content > table > thead > tr > th:nth-child(n) > a {
    text-decoration: none;
    color: black;
}
td.active-cell {
    border-top: 0 !important;
    background-color: #dcedc8;
}
#modal1 > div.modal-content > table > tbody > tr:nth-child(n) {
    background-color: #f1f8e9;
}
#modal1 > div.modal-content > table > thead {
    background-color: #fafafa;
}
.modal-content {
    border-radius: 0;
}
#uptodate {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#no-notifications {
    font-size: x-large;
    text-transform: uppercase;
}
.icon-inbox-1:before { font-size: 300%; }

#modal2 > div.modal-content > div.page-header > h3 > small {
    text-transform: uppercase;
}
#donation-container {
    padding-top: 5px;
}
.close-x:focus {
    font-family: Verdana,sans-serif;
    outline: none;
}
.modal-header button {
    background-color: inherit;
}
.modal-header {
    border-bottom: 0;
}
#modal2 > div.modal-content > div.page-header > h3 {
    font-size: 26px !important;
}
body > div.container.container-page > div:nth-child(2) > div > form > div:nth-child(1) {
    padding: 0 25px 0 25px;
}
