<!doctype html>
<html ng-app="NimDevToolsPanelApp" ng-csp id="devtools-panel">

<head>
    <title class="i18n">devtoolsPanelTitle</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/vendor/fontello-e67980dd/css/fontello.css">
    <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="css/vendor/font.css">
    <link rel="stylesheet" href="src_node_modules/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <link rel="stylesheet" href="node_modules/jquery.fancytree/dist/skin-themeroller/ui.fancytree.min.css">
    <link rel="stylesheet" href="node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.css">
    <!-- /build -->
    <!-- build:css css/nim.min.css -->
    <link rel="stylesheet" href="css/nim.css">
    <!-- /build -->
</head>

<body id="nim" ng-controller="nimDevToolsPanelController as main">
    <div class="row">
        <div class="col s2">
                <div class="row menu">
                    <div class="col s6" id="brakecode-login">
                        <div>
                            <a href="#" ng-click="login()"><img id="nim-logo" src="icon/icon16@2x.png" title="Node.js Developer Tools." /></a>
                        </div>
                        <div ng-if="!bg.Auth.isAuthenticated">
                            <img ng-src="https://res.cloudinary.com/june07/image/upload/brakecode/NiMBrakeCODEoverlay.png" on-error="./image/NiMBrakeCODEoverlay.png" style="margin-left: 10px;">
                        </div>
                    </div>
                    <div class="col s6" id="user-chip" ng-if="bg.Auth.isAuthenticated">
                        <div class="chip profile-chip dropdown-chip" data-target="auth-dropdown">
                            <img ng-src="{{bg.Auth.profile.picture}}" />
                            {{ bg.Auth.profile.nickname }}
                        </div>
                        <ul id="auth-dropdown" class="dropdown-content">
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            <div ng-if="bg.Auth.loggingin">
                <div class="spinner">
                  <img src="./image/loading.svg" alt="Loading"/>
                </div>
            </div>
            <!-- START Auth is required for extended features -->
            <div ng-if="bg.Auth.isAuthenticated">
                <div id="menu" class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s6"><a href="#node-reports" title="Diagnostic Reports">Diagnostic Reports</a></li>
                            <li class="tab col s6"><a href="#brakecode-pads" title="PaDS">PaDS</a></li>
                            <!-- <li class="tab col s6"><a href="#blank">Stats</a></li> -->
                        </ul>
                    </div>
                    <div ng-if="bg.settings.diagnosticReports.enabled" id="node-reports" class="col s12">
                        <div ng-if="bg.nodeReportMessages.length === 0">
                            <a id="noreports" target="_blank" href="https://june07.com/nodejs-diagnostic-reports">Missing
                                Reports?</a>
                        </div>
                        <ul ng-show="bg.nodeReportMessages.length > 0" class="collapsible popout" data-collapsible="accordion"
                            ng-repeat="(host, messages) in bg.nodeReportSortedMessages">
                            <li>
                                <div class="collapsible-header">{{ host }} <span class="badge">{{ messages.length }}</span>
                                </div>
                                <div class="collapsible-body">
                                    <div id="jstree-{{host}}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!bg.settings.diagnosticReports.enabled" id="node-reports-disabled" class="col s12">
                        <span>Diagnostic Reports are disabled.</span>
                        <input type="button" id="open options" value="Open Options" class="btn green lighten-1 ga-track i18n" ng-click="openOptionsPage()"></input>
                    </div>
                    <div id="brakecode-pads" class="col s12">
                        <a id="dashboard" target="_blank" href="https://brakecode.com/dashboard?panel=pads">Open <span style="font-weight:bold; color:black; font-size: initial; font-variant: none;">Brake</span><span style="color: #fdd835; text-transform: capitalize; font-weight: bolder;">CODE</span> Dashboard</a>
                    </div>
                    <!-- <div id="blank" class="col s12">Statistics</div> -->
                </div>
            </div>
            <!-- END Auth is required for extended features -->
        </div>
        <div class="col s8">
            <div class="container" id="header">
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s4">
                        <div id="logo">
                            <a target="_blank" href="https://june07.com/?utm_source=nim&utm_medium=chrome_extension&utm_campaign=extension_devtools-panel&utm_content=1"><img src="icon/icon48@3x.png" /></a>
                        </div>
                    </div>
                    <div class="col s4"></div>
                </div>
                <div id="blurb" style="font-size: larger">
                    <h3><span class="i18n">devtoolsPanelTagline</span></h3>
                    <p><span class="i18n">devtoolsPanelAbout</span></p>

                        <p>Read more about <a style="text-decoration:none; color:unset;" target="_blank" href="https://blog.brakecode.com/brakecode/?utm_source=DevtoolsPanel&utm_medium=extension&utm_campaign=NiM"><span style="font-weight:bold;">Brake</span><span style="color: #fdd835; text-transform: capitalize; font-weight: bolder;">CODE</span></a> <a href="https://blog.brakecode.com/brakecode/?utm_source=DevtoolsPanel&utm_medium=extension&utm_campaign=NiM" target="_blank"> here</a>, <a href="https://blog.brakecode.com/pads/?utm_source=DevtoolsPanel&utm_medium=extension&utm_campaign=NiM" target="_blank">PADS</a> which provides remote debugging, and <a href="https://blog.brakecode.com/nodejs-diagnostic-reports/?utm_source=DevtoolsPanel&utm_medium=extension&utm_campaign=NiM" target="_blank">Node.js Diagnostic Reports</a></p>

                        <p>Got idea's about how to make this page even more useful? Tweet <i>@june07t</i>...
                            <div id="twitter-button" class="footer-button"><a
                                    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                                    class="twitter-share-button ga-track" data-size="large" data-text=''
                                    data-url="https://june07.com/nim" data-via="june07t"
                                    data-hashtags="NiM,nodejs,javascript,chrome" data-related="nodejs,ChromeDevTools"
                                    data-dnt="true" data-show-count="true">Tweet</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            or email <a href="mailto:667@june07.com">667@june07.com</a>.
                        </p>
                </div>
            </div>
        </div>
    </div>
    <!-- build:[src]:min js/googleanalytics.min.js -->
    <script type="text/javascript" src="./js/googleanalytics.js"></script>
    <!-- /build -->
    <!-- build:[src] js/ -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="src_node_modules/materialize/dist/js/materialize.js"></script>
    <script type="text/javascript" src="node_modules/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <script type="text/javascript" src="node_modules/file-saver/dist/FileSaver.min.js"></script>
    <script type="text/javascript" src="node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js"></script>
    <!-- /build -->
    <!-- build:[src]:min devtools.min.js -->
    <script type="text/javascript" src="devtools-panel.js"></script>
    <!-- /build -->
</body>