

body
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 10px 0px 0px 0px;
}

.message
{
    font-size: 14px;
}

.header
{
    margin-left: 15px;
    margin-right: 15px;
}

.input-text
{
    font-size: 20px !important;
}

.auto-switch
{
    clear: both;
}

.footer-text
{
    font-size: 18px;
    color: #33691e;
}


