

body
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 10px 0px 0px 0px;
}

#options-page body li.collection-item
{
    font-size: 16px;
}

#options-page #checkInterval
{
    margin: 10px 0px 30px 0px;
}

#options-page #checkInterval-value
{
    background-color: #aed581;
    font-size: 16px;
}

#options-page #options-header
{
    padding: 15px 0px 15px 0px;
    background-color: #9ccc65;
}

#options-page #collections-header
{
    font-size: 14px;
    font-weight: bold;
    background-color: #e0e0e0;
}

#options-page .switch label
{
    font-size: 16px;
}

#options-page .noUi-target .range-label
{
    background-color: #4caf50;
}

#options-page .noUi-handle-lower
{
    background-color: #33691e;
}

.message
{
    font-size: 14px;
}

.header
{
    margin-left: 15px;
    margin-right: 15px;
}

.input-text
{
    font-size: 20px !important;
}

.auto-switch
{
    clear: both;
}

.footer-text
{
    font-size: 18px;
    color: #33691e;
}

.container-page
{
    padding: 0;
    margin: 0;
    width: 100%;
}

.logo-padding
{
    margin-left: 15px;
}

.row-footer
{
    margin-bottom: 0px;
}
.animate-if {
  background:black;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all ease 5.5s;
}

.animate-if.ng-leave,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
  padding:50px 10px, 50px, 10px !important;
  height:50px 10px, 50px, 10px !important;
}

.animate-if.ng-enter,
.animate-if.ng-enter.ng-enter-active {
}