<!doctype html>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/angular.min.js"></script>
<script type="text/javascript" src="./js/materialize.min.js"></script>
<script type="text/javascript" src="./js/nouislider.min.js"></script>
<script type="text/javascript" src="options.js"></script>
<html ng-app="NimOptionsApp" ng-csp id="options-page">
    <head>
        <title>nim (Node Inspector Monitor) - Options Page</title>
        <link rel="stylesheet" href="./css/materialize.min.css">
        <link rel="stylesheet" href="./css/nouislider.css">
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./nim.css">
    </head>
    <body id="nim" ng-controller="nimOptionsController">
        <div class="row"><div class="col s12 center white-text" id="options-header">Options</div></div>
        <div class="row">
            <div class="col s1"></div>
        <div class="col s10">
            <ul class="collection with-header">
                <li class="collection-header" id="collections-header">General</li>
                <li class="collection-item">Show debug window
                    <div class="switch right">
                        <label>off
                            <input type="checkbox" ng-model="bg.debug">
                            <span class="lever"></span>on
                        </label>
                    </div>
                </li>
                <li class="collection-item">Open Inspector in new window
                    <div class="switch right">
                        <label>off
                            <input type="checkbox" ng-model="bg.newWindow">
                            <span class="lever"></span>on
                        </label>
                    </div>
                </li>
                <!--
            <li class="collection-item">Auto Close Inspector window
                <div class="switch right">
                    <label>
                        <input type="checkbox" ng-model="bg.autoClose">
                        <span class="lever"></span>
                    </label>
                </div>
            </li>-->
                <li class="collection-item">Seconds between Inspector checks
                    <div class="right">
                        <span class="badge new" data-badge-caption="seconds" id="checkInterval-value"></span>
                    </div>
                    <div id="checkInterval" ng-model="bg.checkInterval"></div>
                </li>
            </ul>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row"><div class="col s12 center">            <a class="btn light-green lighten-1" value="Save Options" ng-click="saveButtonHandler()">Save</a>
</div></div>
    </body>
</html>
