<!doctype html>
<html ng-app="NimPopupApp" ng-csp id="popup-page">

<head>
    <title class="i18n">appName</title>
    <link rel="stylesheet" href="css/vendor/fontello-58946df5/css/fontello.css">
    <!-- build:css css/vendor-popup.min.css -->
    <link rel="stylesheet" href="node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <!-- /build -->
    <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="css/vendor/font.css">
    <link rel="stylesheet" href="node_modules/@667/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <!-- /build -->
    <!-- build:css css/nim.min.css -->
    <link rel="stylesheet" href="css/nim.css">
    <!-- /build -->
    <meta charset="UTF-8">
</head>

<body id="popup-body" ng-controller="nimPopupController as main" class="right">
    <!-- Modal Structure Chat BEGIN -->
    <div id="modal4" class="modal modal-fixed-footer">
        <div class="modal-header">
            <span class="close-x" aria-hidden="true">x</span>
        </div>
        <div class="modal-content">
            <div ng-hide="bg.settings.collaboration" id="realtime-collaboration-disabled"><div class="center-align"><span class="i18n">realtimeCollaboration</span> is disabled.</div></div>
        </div>
        <div class="modal-footer">
            <button ng-if="bg.settings.collaboration" class="btn outline" aria-label="Open in Browser Window Button" data-toggle="tooltip" data-placement="left" title="Open in Browser Window">
                <span aria-hidden="true"><i class="icon-window"></i></span>
            </button>
        </div>
    </div>
    <!-- Modal Structure Chat END -->
    <!-- BEGIN Modal No Notifications -->
    <div id="modal3" class="modal">
        <div class="modal-header">
            <span class="close-x" aria-hidden="true">x</span>
        </div>
        <div id="modal3-content" class="modal-content">
            <div id="uptodate">
                <p><span id="no-notifications" class="i18n">noNotifications</span></p>
                <i class="icon-inbox"></i>
                <br>
            </div>
        </div>
    </div>
    <!-- END Modal No Notifications -->
    <!-- Modal Structure Notifications -->
    <div id="modal1" class="modal">
        <div class="modal-header">
            <span class="close-x" aria-hidden="true">x</span>
        </div>
        <div class="modal-content">
            <table class="table">
                <thead>
                    <tr>
                        <th width="15%"><a href="#" ng-click="sortType = 'notification.type'; sortReverse = !sortReverse">Type
                          <i ng-show="sortType == 'notification.type' && sortReverse" class="icon-down-open-big"></i>
                          <i ng-show="sortType == 'notification.type' && !sortReverse" class="icon-up-open-big"></i></a></th>
                        <th><a href="#" ng-click="sortType = 'notification.text'; sortReverse = !sortReverse">Subject
                          <i ng-show="sortType == 'notification.text' && sortReverse" class="icon-down-open-big"></i>
                          <i ng-show="sortType == 'notification.text' && !sortReverse" class="icon-up-open-big"></i></a></th>
                        <th width="20%"><a href="#" ng-click="sortType = 'notification.date'; sortReverse = !sortReverse">Date
                          <i ng-show="sortType == 'notification.date' && sortReverse" class="icon-down-open-big"></i>
                          <i ng-show="sortType == 'notification.date' && !sortReverse" class="icon-up-open-big"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="notification in bg.notificationService.getNotifications() track by notification.id | orderBy:sortType:sortReverse" ng-click="main.active=notification.date">
                        <td><img class="notification-twitter-icon" src="icon/twitter.svg" ng-if="notification.type === 'twitter'"></img>{{notification.type}}</td>
                        <td>
                            <h3 ng-if="notification.type !== 'twitter'" class="notification-title">{{notification.type}}</h3>
                            <div ng-show="main.active!=notification.date">
                                <p class="notification-message">{{notification.text | stringLimit: 90: true }}</div>
                            <div ng-show="main.active==notification.date">
                                <p class="notification-message">{{notification.text | stringLimit: 90: false }}</div>
                        </td>
                        <td><span am-time-ago="notification.date"></span></td>
                    </tr>
                    <tr ng-repeat-end ng-show="main.active==notification.date">
                        <td class="active-cell"></td>
                        <td ng-if="notification.type === 'twitter'" class="notification-message active-cell">{{notification.text}} <a class="tooltipped staticTooltip" data-delay="0" data-position="top" id="tooltip_twitter{{notification.id}}" data-tooltip="https://twitter.com/june07t/status/{{ notification.id }}" target="_blank" ng-click="trackTwitterClicks(notification.id)" href="https://twitter.com/june07t/status/{{ notification.id }}"><br><span class="i18n">open_tweet</span></a></td>
                        <td ng-if="notification.type !== 'twitter'" class="notification-message active-cell">{{notification.text}}</td>
                        <td class="active-cell"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-header">
            <span class="close-x" aria-hidden="true">x</span>
        </div>
        <div class="modal-content">
            <div class="page-header" data-pg-collapsed>
                <h3><span class="i18n">donationModalHeader</span><br><small>Thank you</small></h3>
            </div>
            <div id="donation-container" class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <!--GitHub Sponsors-->
                    </div>
                    <div class="col-xs-8">
                        <a class="donate-button" id="bitcoin-donate-button" href="https://github.com/sponsors/june07" target="_blank"><img src="./image/GitHub_Logo.png"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <!--Paypal-->
                    </div>
                    <div class="col-xs-8">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="YNAGPPBM6R8EU">
                            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypal-44px.png" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <!--Crypto-->
                    </div>
                    <div class="col-xs-8">
                        <a class="donate-button" id="bitcoin-donate-button" href="https://gateway.gear.mycelium.com/widgets/dfcf0217aea4d3b0ebcd4b3406522ae5f334f9ba681f912f2c3264eea7ce8c97" target="_blank"><img src="./image/bitcoin_logo.svg"></a>
                        <a class="donate-button" id="metamask-donate-button" href="https://bit.ly/2rdmXEz" target="_blank"><img src="./image/ethereum-seeklogo.com.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-page">
        <div class="row">
            <div class="col s12 valign-wrapper header-column">
                <div class="fixed-action-btn" style="bottom: 85px; right: 15px;">
                    <a class="btn-floating green lighten-5"> <i class="large"></i> </a>
                    <ul>
                        <li>
                            <a ng-if="bg.settings.collaboration" class="btn-floating green lighten-1 modal-trigger ga-track" id="chat-button" href="#modal4"><i class="icon-chat-empty"></i></a>
                        </li>
                        <li>
                            <a ng-if="bg.notificationService.haveNotifications()" href="#modal1" class="btn btn-floating green lighten-2 modal-trigger"><i class="icon-inbox"></i></a>
                        </li>
                        <li>
                            <a class="btn-floating green lighten-1 ga-track" id="options-button"><i class="icon-sliders"></i></a>
                        </li>
                    </ul>
                </div>
                <img src="./icon/icon128.png" class="left" />
                <div class="header left valign">
                    <span class="i18n">appName</span>
                </div>
                <div id="nim-version"><p>{{bg.VERSION}}</p></div>
                <div class="col s6" id="brakecode-login" ng-if="!bg.Auth.isAuthenticated">
                    <div>
                        <a href="#" ng-click="login()">
                            <img id="brakecode-logo" src="image/favicon-16x16.png" title="Node.js Developer Tools." />
                            <span class="button-text">Sign In</span>
                        </a>
                    </div>
                </div>
                <div class="col s6" id="user-chip" ng-if="bg.Auth.isAuthenticated">
                    <div class="chip profile-chip dropdown-chip" data-target="auth-dropdown">
                        <img ng-src="{{bg.Auth.profile.picture}}"/>
                        {{ bg.Auth.profile.nickname }}
                    </div>
                    <ul id="auth-dropdown" class="dropdown-content">
                        <li><a href="#" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </div>
                <div ng-if="bg.Auth.loggingin">
                    <div class="spinner-popup">
                      <img src="./image/loading.svg" alt="Loading"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main">
            <div class="col s12" id="mainControlTabs">
                <ul class="tabs">
                    <li class="tab"><a href="#home" ng-class="bg.state.popup.selectedTab === 'home' ? 'active' : ''">Home</a></li>
                    <li class="tab"><a href="#ltab" ng-class="bg.state.popup.selectedTab === 'ltab' ? 'active' : ''">Localhost</a></li>
                    <li class="tab" ng-if="!bg.Auth.isAuthenticated && bg.remoteTabs[0].connections && bg.remoteTabs[0].connections.length > 0">
                        <a href="#rtab0" ng-class="bg.state.popup.selectedTab === 'rtab0' ? 'active' : ''">BrakeCODE</a>
                    </li>
                    <li ng-if="bg.Auth.isAuthenticated" ng-hide="$index === 0" class="tab" ng-repeat="tab in bg.remoteTabs track by $index">
                        <a href="#rtab{{$index}}" ng-class="bg.state.popup.selectedTab === 'rtab'+$index ? 'active' : ''">{{ tab.title }}</a>
                    </li>
                </ul>
                <!-- beginning of tab set -->
                <div id="tabs">
                    <div id="home">
                        <div id="local-control-input">
                            <form>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="localhost" pattern="((^(([0-9]|[1-9][0-9]|1([0-1][0-9]|2[0-6]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))|127\.0\.0\.([0-1]))$)|(^(1(2[8-9]|[3-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))$)|localhost|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$)" id="hostname" type="text" class="validate card-title input-text ga-track" ng-model="bg.settings.host">
                                        <span color="#9e9e9e"><span class="i18n">Host</span></span>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="port" type="text" class="validate card-title input-text ga-track" value placeholder="9229" pattern="([1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])" ng-model="bg.settings.port">
                                        <span color="#9e9e9e"><span class="i18n">Port</span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center" style="display: flex;">
                                        <div id="autoManualSwitch" class="switch" ng-true-value="true" ng-false-value="false">
                                            <label>
                                                <span class="i18n">Manual</span>
                                                <input id="auto switch" type="checkbox" ng-model="bg.settings.auto" class="ga-track" ng-change="autoSwitchHandler()">
                                                <span class="lever"></span>
                                                <span class="i18n">Auto</span>
                                                <span ng-if="bg.watchdog.STOPPED" class="tooltipped staticTooltip exclamationTooltipButton" id="tooltip_templateAutoSwitchAlert" data-tooltip="{{ getTooltipContent('tooltip_templateAutoSwitchAlert') }}">(!)</span>
                                            </label>
                                        </div>
                                        <span class="waves-effect waves-light"><input type="button" id="openDevToolsButton" value="Open DevTools" ng-disabled="bg.settings.auto" class="btn green lighten-1 ga-track i18n" ng-click="clickHandler()"></span>
                                        <div id="autoResumeSwitchDiv">
                                            <label for="autoResumeSwitch">
                                                <input id="autoResumeSwitch" type="checkbox" ng-model="bg.settings.autoResumeInspectBrk"/>
                                                <span>Auto Resume</span>
                                            </label>
                                            <span class="tooltipped staticTooltip questionTooltipButton" id="tooltip_templateAutoResumeSwitch" data-tooltip="{{ getTooltipContent('tooltip_templateAutoResumeSwitch') }}">(?)</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="ltab">
                        <div id="local-control-interface">
                            <!--<div class="row header">
                                <div class="col">Node Application Info</div>
                                <div class="col">Status</div>
                                <div class="col open">Open</div>
                                <div class="col">Detected On</div>
                            </div>-->
                            <div class="row no-connections-detected" ng-if="bg.localSessions.length === 0">
                                <h1 class="ml11">
                                  <span class="text-wrapper">
                                    <span class="line line1"></span>
                                    <span class="letters">| no_detected_local_connections</span>
                                  </span>
                                </h1>
                            </div>
                            <div ng-if="bg.localSessions.length !== 0" class="row" ng-repeat="s in bg.localSessions track by $index">
                                <div class="col s2 appinfo">
                                    <img class="bulletPointIcon" ng-src="{{ (s.nodeInspectMetadataJSON.nodeExeRunner) ? './icon/icon16vscode.png' : './icon/icon16.png' }}" />
                                    <span class="tooltipped" id="tooltip_local{{$index}}" data-tooltip-html="tooltipTemplateLocal{{$index}}" ng-click="showTooltip($event)"> {{ s.nodeInspectMetadataJSON.title }}
                                        <span ng-bind="bg.getInstanceFromInfoURL(s.infoUrl).port" class="badge">inspect port</span>
                                    </span>
                                </div>
                                <div style="display: none" id="tooltipTemplateLocal{{$index}}">
                                    <div class="row">
                                        <div class="col s2">Source:</div>
                                        <div class="col s10 value">{{ s.nodeInspectMetadataJSON.url }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">Debugger URL:</div>
                                        <div class="col s10 value">{{ s.url }}</div>
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="col s2 auto">
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" ng-model="s.auto">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col s2 open"><span class="waves-effect waves-light"><input ng-disabled="s.auto" type="button" value="DevTools" class="btn btn-sm green lighten-1 ga-track i18n" ng-click="clickHandlerOpenLocalDevTools(s.url)"></span></div>
                                <div class="col s2">
                                    <span class="waves-effect waves-light">
                                        <input type="button" value="Remove" class="btn red remove ga-track i18n" ng-click="clickHandlerRemoveLocalDevToolsSession(s.id)">
                                    </span>
                                </div>
                                <div class="col s2"></div>
                            </div>
                        </div>
                    </div>
                    <div id="rtab{{$index}}" ng-repeat="rtab in bg.remoteTabs track by $index" ng-show="$index === 0 || (bg.Auth.isAuthenticated && bg.state.popup.selectedTab === 'rtab' + $index)">
                        <div id="remote-control-interface-{{$index}}" class="remote-control-interface">
                            <!--<div class="row header">
                                <div class="col">Node Application Info</div>
                                <div class="col">Status</div>
                                <div class="col open">Open</div>
                                <div class="col">Detected On</div>
                            </div>-->
                            <div class="row no-connections-detected" ng-if="(tab.connections | json) == '{}'">
                                <h1 class="ml11">
                                <span class="text-wrapper">
                                    <span class="line line1"></span>
                                    <span class="letters">| no_detected_remote_connections</span>
                                </span>
                                </h1>
                            </div>
                            <div class="row" ng-repeat="conn in rtab.connections track by $index" ng-init="tabIndex = $parent.$parent.$index" ng-if="(rtab.connections | json) != '{}'">
                                <!--<div class="col"><span class="" data-tooltip="PID: {{ conn.pid }}, Inspect Port : {{ conn.inspectPort }}">{{conn.cmd | nodeProgram }}</span></div>-->
                                <div class="col s6 appinfo">
                                    <img class="bulletPointIcon" src="./icon/icon16.png"/>
                                    <span class="tooltipped remote" id="tooltip_remote{{tabIndex}}_conn{{$index}}" data-tooltip-html="tooltipTemplateRemote{{tabIndex}}_conn{{$index}}">
                                        <span class="">{{ tabIndex !== 0 ? (conn.cmd | nodeProgram) : conn.jsonInfo.title }}</span>
                                        <span ng-bind="conn.inspectPort" class="badge">
                                            inspect port 
                                        </span>
                                    </span>
                                </div>
                                <div style="display: none" id="tooltipTemplateRemote{{tabIndex}}_conn{{$index}}">
                                    <div class="row">
                                        <div class="col s2">Process ID:</div>
                                        <div class="col s10 value">
                                            <span ng-if="tabIndex !== 0">{{ conn.pid }}</span>
                                            <a ng-if="tabIndex === 0" target="_blank" alt="Link to BrakeCODE NPM Package at npmjs.com" href="https://www.npmjs.com/package/brakecode">BrakeCODE Agent</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">Process Cmd:</div>
                                        <div class="col s10 value">
                                            <span ng-if="tabIndex !== 0">{{ conn.cmd }}</span>
                                            <a ng-if="tabIndex === 0" target="_blank" alt="Link to BrakeCODE NPM Package at npmjs.com" href="https://www.npmjs.com/package/brakecode">BrakeCODE Agent</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">Inspect Port:</div>
                                        <div class="col s10 value">
                                            <span ng-if="tabIndex !== 0">{{ conn.inspectPort }}</span>
                                            <a ng-if="tabIndex === 0" target="_blank" alt="Link to BrakeCODE NPM Package at npmjs.com" href="https://www.npmjs.com/package/brakecode">BrakeCODE Agent</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">Remote URL:</div>
                                        <div class="col s10 value">{{ tabIndex !== 0 ? getPADSURL(conn.tunnelSocket) : conn.infoUrl }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">CID:</div>
                                        <div class="col s10 value">{{ conn.tunnelSocket.cid }}</div>
                                    </div>
                                </div>
                                <div class="col">{{ conn.waiting.running }}</div>
                                <div class="col s2 auto">
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox" ng-class="conn.tunnelSocket.cid ? '' : disabled" ng-model="bg.remoteConnectionSettings[conn.tunnelSocket.cid].auto">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col s2 open" ng-if="!conn.tunnelSocket.cid">
                                    <span class="waves-effect waves-light ld-over" ng-class="conn.waiting">
                                        <i ng-if="rtab.githubNodejsNodeIssues24085" class="tooltipped staticTooltip tiny icon-alert right githubNodejsNodeIssues24085" data-tooltip="{{ getTooltipContent('tooltip_githubNodejsNodeIssues24085') }}"></i>
                                        <input type="button" value="Inspect" ng-class="rtab.githubNodejsNodeIssues24085 ? 'disabled' : ''" class="btn btn-sm grey lighten-1 ga-track i18n start-node-inspect" ng-click="clickHandlerStartNodeInspect(rtab.host, conn)">
                                        <div class="ld ld-ring ld-spin"></div>
                                    </span>
                                </div>
                                <div class="col s2 open" ng-if="conn.tunnelSocket.cid">
                                    <span class="waves-effect waves-light"><input type="button" id="open-devtools-remote-{{tabIndex}}-{{$index}}" value="DevTools" ng-class="{disabled: !conn.tunnelSocket.cid}" class="btn btn-sm green lighten-1 ga-track i18n" ng-click="clickHandlerOpenRemoteDevTools(conn.tunnelSocket.cid)"></span>
                                </div>
                                <div class="col s2">
                                    <span class="waves-effect waves-light">
                                        <input type="button" value="Remove" class="btn red remove ga-track i18n" ng-click="clickHandlerRemoveRemoteDevToolsSession(conn.tunnelSocket.cid)" ng-class="{disabled: !activeRemoteSession(conn.tunnelSocket.cid)}"></div>
                                    </span>
                                <div class="col">{{ conn.detectionTime | date : 'MM/dd/yy h:mm a  sss' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of tab set -->
            </div>
        </div>
        <div class="row row-footer">
            <div class="col s12">
                <footer class="page-footer grey lighten-3">
                    <div class="footer-copyright">
                        <div class="container footer-text">
                            <a id="site-href" target="_blank" href="https://june07.com">© 2016-2022 June07</a>
                        </div>
                        <div id="footer-buttons" class="right">
                            <div id="donate-button" class="footer-button"><a class="btn green lighten-2 modal-trigger ga-track" href="#modal2" id="donate-button"><span class="i18n">Donate</span></a></div>
                            <div id="twitter-button" class="footer-button"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button ga-track" data-size="large" data-text='NiM > about://inspect' data-url="https://github.com/june07/NiM" data-via="june07t" data-hashtags="NiM,nodejs,javascript,chrome" data-related="nodejs,ChromeDevTools" data-dnt="true" data-show-count="true">Tweet</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div class="card green container-message" ng-if="bg.settings.debug">
        <div class="card-content green lighten-5 black-text">
            <p class="message"><span class="i18n">Enabled</span>: {{ bg.loaded | date:'yyyy-MM-dd HH:mm Z' }}
                <br><span class="i18n">Uptime</span>: {{ bg.moment.duration(bg.timerUptime, 'seconds').humanize(); }}</p>
            <p class="message">{{bg.message}}</p>
        </div>
    </div>
    <div id="modal5" class="modal">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
        </div>
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- build:[src]:min js/googleanalytics.min.js -->
    <script type="text/javascript" src="js/googleanalytics.js"></script>
    <!-- /build -->
    <!-- build:[src] js/ -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="node_modules/@667/materialize/dist/js/materialize.min.js"></script>
    <!-- /build -->
    <!-- build:[src] js/ -->
    <script type="text/javascript" src="node_modules/animejs/lib/anime.min.js" defer></script>
    <!-- /build -->
    <!-- build:[src]:min popup.min.js -->
    <script type="text/javascript" src="popup.js"></script>
    <!-- /build -->
</body>

</html>
